.burger_ingredient_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 32px;
 
}
.burger_ingredient_rolls{
  margin-right: 24px;
}

.burger_component_img {
  width: 240px;
  height: 120px;
}
.burger_component_currency {
  composes: mb-2 mt-2 from text text_type_digits-medium from global;
  text-align: center;
}
.burger_component_currency svg {
  margin-right: 9px;
}
.burger_component_name {
  composes: text text_type_main-small from global;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #FFFFFF;
}