.wrap {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}
.container_signin {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.button {
  width: 148px;
  margin: 10px auto 80px;
  padding: 16px 40px;
}
.title {
  text-align: center;
  padding: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.position {
  position: relative;
}
.position svg {
  position: absolute;
  top: 20px;
  right: 24px;
}
.paragraph {
  composes: text text_type_main-default text_color_inactive from global;
  text-align: center;
}
.link {
  text-decoration: none;
  margin-left: 8px;
  color: #4c4cff;
}
.error {
  color: rgb(181, 26, 26);
  text-align: center;
}
