.container_history_orders {
  height: 900px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px;
}
.scroll {
  height: 100%;
  margin-bottom: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  background: #2f2f37;
}
.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
}
